
/* HOME - main content */


body, footer {
	background-color: #f4f4f4;
}

.main {
	max-width: 88%;
	margin: 9rem auto 0;
}


.projects .flickity-slider {
	position: relative !important;
	left: -3% !important;
}



.flickity-prev-next-button.previous,
.flickity-prev-next-button,
.flickity-page-dots {
    display: none;
}


.gallery-cell img {
    width: 100%;
}

.gallery-cell .content {
	height: 100%;
}

.gallery-cell .content h2 {
	position: absolute;
    top: 92%;
    left: 30px;
    color: #fff;
    letter-spacing: 1px;
}

figure.content {
    background-size: cover;
}

/* instagram */ 

.projects, .instagram {
    padding-top: 8%;
}

.instagram {
	margin-bottom: 15%;
}

.instagram .gallery-cell {
	width: 20%;
    height: 260px;

}

.instagram .flickity-slider {
	position: relative !important;
    left: -34% !important;
}

#eapps-instagram-feed-1 {
    width: 100%;
    position: relative;
    padding-left: 3%;
    padding-top: 2%;
}

#eapps-instagram-feed-1 .eapps-instagram-feed-posts-item-template-classic {
	background: none !important;
}

.eapps-instagram-feed-posts-item-template-classic {
	border: none !important;
}

#eapps-instagram-feed-1 {
    height: 60%;
}


.clear {
	clear: both;
}

/* PROJECT - main content */



div.content {
	margin-top: 70px;
}

div.content img {
    width: 82%;
    height: auto;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 40px;
    background: #000;
}

div.content .mobile-wrap {
	width: 100%;
	text-align: center;
	margin: 60px 0px 60px 0px;
}

div.content .mobile-wrap img {
	width: 400px;
	height: auto;

}

.next-up {
	margin-bottom: 200px;
}

.main p {
	font-family: "ModernEraMono", Georgia;
	color: #fff;
	font-size: 15px;
	max-width: 600px;
	min-width: 300px;
	margin-top: 20px;
	line-height: 22px;
}


/* nav */

nav {
	float: right;
}

nav a {
	font-family: "ModernEraMono", Georgia;
	text-decoration: none;
	color: #2b2b2b;
}

.side-title-1, .side-title-2  {
	float: left;
    position: absolute;	
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
}

.side-title-1 {
	top: 275px;
	left: -1%;	
}

.side-title-2 {
	top: 935px;
	left: -1%;
}

.exit {
	width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #252525;
    position: relative;
}

.exit span {
	height: 2px;
	width: 12px;
	background-color: #fff;
	position: absolute;
	top: 48%;
    left: 39%;
	transform: rotate(-45deg) translate3d(0,0,0);
}

.exit span:last-child {
	transform: rotate(45deg) translate3d(0,0,0);
}



/* typography */

h1 {
	font-size: 56px;
	font-family: "ModernEraMonoMedium", Georgia;
	letter-spacing: 2px;
	color: #2b2b2b;
}

h2 {
	font-size: 22px;
	font-family: "ModernEraMono", Georgia;
	color: #2b2b2b;
	letter-spacing: 1px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 12px;
	font-family: "gt_walsheim_medium", Georgia;
	text-transform: uppercase;
	letter-spacing: 2px;

}


/* hovers */

.hover-effect {
	-webkit-transition: opacity .8s;
	transition: opacity .8s;
}

figure.hover-effect {
  	opacity: 1;
}

figure.hover-effect:hover {
  	opacity: .6;
}

a {
	text-decoration: none;
	color: #252525;
	-webkit-transition: opacity .8s;
	transition: opacity .8s;	
}

a:active {
	opacity: 1;	
}

a:hover {
	opacity: .6; 
}


a .exit {
	-webkit-transition: opacity .8s;
	transition: opacity .8s;
}

a:hover .exit {
	opacity: .6;
	
}

p a {
	color: #fff;
	text-decoration: underline;
}


/* PROJECTS */

/* overall */

.mobile-wrap {
    display: none;
}

/* refinery style */ 

body#refinery, #refinery footer {
	background-color: #2b2b2b;
}

body#refinery h1,
body#refinery h2,
body#refinery .main.next-up h1 a,
body#refinery .main.next-up h4 {
	color: #fff;
}

/* zbs style */ 

body#zbs, #zbs footer {
	background-color: #213f75;
}

body#zbs h1,
body#zbs h2,
body#zbs .main.next-up h1 a,
body#zbs .main.next-up h4 {
	color: #fff;
}

body#zbs .exit {
	background-color: #fff;

}

body#zbs .exit span {
	background-color: #224075;
}

body#zbs div.content .mobile-wrap {
	background-color: #213f75;
}

/* tms style */ 


body#tms h1,
body#tms h2,
body#tms .main.next-up h1 a,
body#tms .main.next-up h4 {
	color: #7f796a;
}

body#tms .exit {
	background-color: #5a5445;

}

body#tms .exit span,
body#tms .main p,
body#tms .main p a
  {
	color: #7f796a;
}

/* eames style */ 


body#eames h1,
body#eames h2,
body#eames .main.next-up h1 a,
body#eames .main.next-up h4 {
	color: #000;
}

body#eames .exit {
	background-color: #f1563d;

}

body#eames .exit span {
	color: #fff;
}

/* Instagram */

.instashow-gallery-container {
    padding-left: 14px !important;
}


/* footer */

footer {
    width: 100%;
    height: 40px;
    z-index: 999999999999 !important;
    position: absolute;
}

/* removals */

