
/* HOME - main content */

.main {
	max-width: 89%;
	margin: 9rem auto 0;
}


.projects .flickity-slider {
	position: relative !important;
	left: -3% !important;
}



.flickity-prev-next-button.previous,
.flickity-prev-next-button,
.flickity-page-dots {
    display: none;
}


.gallery-cell img {
    width: 100%;
}

.gallery-cell .content {
	height: 100%;
}

.gallery-cell .content h2 {
	position: absolute;
    top: 92%;
    left: 30px;
    color: #fff;
    letter-spacing: 1px;
}

.projects, .instagram {
    padding-top: 8%;
}

.instagram {
	margin-bottom: 15%;
}

.instagram .gallery-cell {
	width: 20%;
    height: 260px;

}

.instagram .flickity-slider {
	position: relative !important;
    left: -34% !important;
}

/* PROJECT - main content */

div.content {
	margin-top: 114px;
}

div.content img {
    width: 82%;
    height: auto;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 40px;
    background: #000;
}


.next-up {
	margin-bottom: 200px;
}


/* nav */

nav {
	float: right;
}

nav a {
	font-family: "ModernEraMono", Georgia;
	text-decoration: none;
	color: #2b2b2b;
}

.side-title-1, .side-title-2  {
	float: left;
    position: absolute;	
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
}

.side-title-1 {
	top: 420px;
	left: -1%;	
}

.side-title-2 {
	top: 1110px;
	left: -1%;
}

.exit {
	width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #252525;
    position: relative;
}

.exit span {
	height: 2px;
	width: 12px;
	background-color: #fff;
	position: absolute;
	top: 48%;
    left: 39%;
	transform: rotate(-45deg) translate3d(0,0,0);
}

.exit span:last-child {
	transform: rotate(45deg) translate3d(0,0,0);
}



/* typography */

h1 {
	font-size: 56px;
	font-family: "ModernEraMonoMedium", Georgia;
	letter-spacing: 2px;
	color: #2b2b2b;
}

h2 {
	font-size: 22px;
	font-family: "ModernEraMono", Georgia;
	color: #2b2b2b;
	letter-spacing: 1px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 12px;
	font-family: "gt_walsheim_medium", Georgia;
	text-transform: uppercase;
	letter-spacing: 2px;

}


/* hovers */

.hover-effect {
	-webkit-transition: opacity .8s;
	transition: opacity .8s;
}

figure.hover-effect {
  	opacity: 1;
}

figure.hover-effect:hover {
  	opacity: .6;
}

a {
	text-decoration: none;
	color: #252525;
	-webkit-transition: opacity .8s;
	transition: opacity .8s;	
}

a:active {
	opacity: 1;	
}

a:hover {
	opacity: .6; 
}


a .exit {
	-webkit-transition: opacity .8s;
	transition: opacity .8s;
}

a:hover .exit {
	opacity: .6;
	
}


/* Instagram */

.instashow-gallery-container {
    padding-left: 14px !important;
}


/* footer */

footer {
    width: 100%;
    height: 30px;
    z-index: 999999999999 !important;
    background-color: white;
    position: absolute;
}

/* removals */

